# ======================================================
#  .gitignore
# ======================================================

# Құпия деректер — ЕШҚАШАН GitHub-қа жүктемеңіз!
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
